# --- CSV file path and chunk size ---
CSV_PATH="./data/BooksDatasetClean.csv"
CHUNK_SIZE=1000

# --- PostgreSQL credentials via Docker ---
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_pwd
POSTGRES_DB=example_db

# --- PostgreSQL database URL ---
SQL_URI=postgresql://example_user:example_pwd@localhost:5432/example_db